{% extends 'side_menu.html' %}
{% block title %}
    Home
{% endblock %}

{% block content_block %}
    <div id="content" style="margin-left: 10px">
        <!-- We'll fill this with dummy content -->
        <h1>Главная страница</h1>
        <p>Добро пожаловать! Это веб-ресурс, посвященный машинному обучению, который будет предоставлять как теоретический материал по различным разделам машинного обучения, так и примеры практического применения, в частности, с помощью визуальных веб-демонстраций. Помимо этого на ресурсе будет возможность выкладывать учебные материалы, группируя их в курсы.</p>
        <p>Просматривать статьи, демонстраици и материалы может любой, для этого регистрация не нужна. Если вы хотите поучатсвовать в наполнении ресурса статьями, то необходимо зарегистрироваться и перейти в раздел "Предложить статью". Там же вы сможете написать, к какому разделу должна относиться статья. Далее информация проверяется модератором ресурса. Если предоставленная информация будет одобрена, то вы увидите ее на нашем ресурсе.</p>
        <p>Успехов!</p>

    </div>
{% endblock %}