{% extends 'index.html' %}
{% load static %}

{#{% block title %}#}
{#{% endblock %}#}

{% block side_menu %}

    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="navbar-brand" href="#">
                <img class="img_logo d-inline-block align-top" alt="Pipeline" src="{% static "img/logo.png" %}">
                Info Source
            </a>

        </div>

        <ul class="list-unstyled components">

            <form class="navbar-form" role="search" style="margin: 10px">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Поиск по сайту" name="q">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                  </div>
              </div>
            </form>

            <li>
                <a href="{% url 'home' %}">Главная</a>
            </li>
            <li>
                <a href="{% url 'articles' type_='article' %}">Статьи</a>
            </li>
            <li>
                <a href="{% url 'articles' type_='demo' %}">Веб-демонстрации</a>
            </li>
            <li>
                <a href="{% url 'articles' type_='material' %}">Учебные материалы</a>
            </li>
            <li>
                <a href="{% url 'help' %}">Помощь</a>
            </li>

        </ul>


        <ul class="user list-unstyled components">
            {% if request.user.is_authenticated %}
                <h6 style="margin-left: 10px">Здравствуй, {{ request.user.username }}!</h6>
                <li>
                    <a href="#">Профиль</a>
                </li>
                <li>
                    <a href="#">Предложить статью</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Выйти из системы</a>
                </li>

            {% else %}
                <li>
                    <a href="{% url "login" %}">Войти в систему</a>
                </li>
            {% endif %}
        </ul>

        {% block temp_side_menu %}
        {% endblock %}

    </nav>

    <script>
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
    </script>

{% endblock %}

{#{% block content_block %}#}
{#{% endblock %}#}